@charset "utf-8";

/* CSS Document */

/* =item_single.php
-------------------------------------------------------------- */

/*---- item_page_title ---*/
.item_page_title {
	margin: 0 0 .625em;
	font-size: 1.14286em;
	line-height: 1.25em;
}

/*---- img-box ---*/
#itempage #img-box {
	margin-bottom: 1.66667em;
}

#itempage .itemimg {
	text-align: center;
}

#itempage .itemimg a {
	display: block;
}

#img-box .itemimg img {
	width: 100%;
	height: auto;
}

#itempage .itemsubimg {
	margin: 3% -3% 0 0;
	overflow: hidden;
}

#itempage .itemsubimg a {
	display: inline-block;
	width: 22%;
	margin: 0 3% 3% 0;
	float: left;
	text-align: center;
}

#itempage .itemsubimg img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/*---- item-info ---*/
#itempage .item-info {
	padding-top: 2.5em;
}

/*---- itemcode ---*/
#itempage .itemcode {
	margin-bottom: 1.42857em;
	padding-bottom: .357143em;
	border-bottom: 1px solid #ccc;
}

/*---- sku-name ---*/
.item-info .skuname {
	min-height: 30px;
	margin-bottom: 1.42857em;
	padding: .357143em;
	background-color: #dedede;
	font-weight: bold;
}

/*---- skuform ---*/
.item-info form {
	clear: both;
}

.item-info .skuform {
	margin-bottom: 2.142856em;
}

.item-info form .skuform:last-child {
	margin-bottom: 0;
}

.item-info .skuform form {
	clear: both;
}

/*---- zaikostatus ---*/
.item-info .zaikostatus {
	float: left;
}

/*---- field ---*/
.item-info .field {
	padding: 0 0 .357143em;
	overflow: hidden;
}

/*---- price ---*/
.item-info .field_price {
	float: right;
	font-size: 1.42857em;
	font-weight: bold;
}

.item-info .field_cprice {
	margin-right: .666667em;
	color: #999;
	font-size: .6em;
	font-weight: normal;
	text-decoration: line-through;
}

.item-info .field_price em {
	font-size: .5em;
}

/* ---- .tax_inc_block ---- */

.item-info .tax_inc_block {
	clear: both;
	font-size: 12px;
	text-align: right;
}

.item-info .tax_inc_block em {
	margin-right: 3px;
	color: #262626;
}


/*---- itemGpExp ---*/
.item-info .itemGpExp {
	margin: 1.42857em 0;
	padding: 1.42857em .357143em .714286em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.item-info .itemGpExp dt {
	font-weight: bold;
}

.item-info .itemGpExp .tax_inc_block {
	margin-left: .714286em;
}

.item-info .itemGpExp .price {
	padding: 0 0 0 .625em;
	font-size: 1.14286em;
	font-weight: bold;
}

.item-info .itemGpExp em {
	font-size: .5em;
}

/*---- item-option ---*/
.item-info .item-option {
	margin-bottom: 1.42857em;
	padding: 1.42857em .357143em .714286em;
	clear: both;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.item-info .item-option dt {
	font-weight: bold;
}

.item-info .item-option dd {
	margin: 0 0 .714286em;
}

.item-info .item-option select option {
	background-color: #fff;
}

.item-info .item-option input[type="text"] {
	width: 60%;
}

.item-info .item-option .iopt_radio_label {
	display: block;
}

.item-info .item-option textarea {
	width: 100%;
	height: 100px;
}

/*---- c-box ---*/
.item-info .c-box {
	padding: 0;
	clear: both;
	text-align: right;
}

/*---- quantity ---*/
.item-info .quantity {
	display: inline-block;
	margin-bottom: 5px;
}

.item-info .quantity input.skuquantity {
	width: 60px !important;
	height: 40px;
	margin: 0 .357143em;
	padding: .357143em;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

/*---- cart-btn ---*/
.item-info .skubutton {
	padding: .714286em 2.142856em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff8c00;
	color: #fff;
	font-family: FontAwesome;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}

.item-info .skubutton:hover {
	background-color: #ffa500;
	cursor: pointer;
}

/*---- incart-btn ---*/
.item-info .incart-btn {
	text-align: left;
}

/*---- itemsoldout ---*/
.item-info .itemsoldout {
	color: #ff8c00;
	font-weight: bold;
	letter-spacing: .5px;
	text-align: right;
}

/*---- item_custom_field ---*/
.item-info ul.item_custom_field {
	margin-bottom: 2.142856em;
	float: right;
	line-height: 200%;
}

.item-info ul.item_custom_field li {
	padding: 0 .357143em;
	border-bottom: 1px dotted #999;
}

/*---- item-info table ---*/
.item-info table.item_custom_field {
	margin-bottom: 2.142856em;
	float: right;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.item-info .item_custom_field th {
	width: 40%;
	padding: .357143em;
	border: 1px solid #ccc;
	background-color: #eee;
}

.item-info .item_custom_field td {
	padding: .357143em;
	border: 1px solid #ccc;
}

/*---- assistance_item ---*/
.assistance_item h3 {
	margin: 1.42857em 0 0;
	border-bottom: 3px solid #eee;
	color: #000;
}

.assistance_item ul {
	overflow: hidden;
	letter-spacing: -.5em;
}

.assistance_item li {
	display: inline-block;
	width: 46%;
	margin-right: 8%;
	padding: 1.42857em 0 0;
	letter-spacing: normal;
	vertical-align: text-top;
}

.assistance_item li:nth-child(even) {
	margin-right: 0;
}

.assistance_item li .slit a {
	display: block;
	margin-bottom: .357143em;
}

.assistance_item li .slit img {
	width: 100%;
	height: auto;
}

.assistance_item li .detail h4 {
	height: 43px;
	margin: 0;
	overflow: hidden;
	font-weight: normal;
}

.assistance_item li .detail p {
	height: 60px;
	overflow: hidden;
}

.assistance_item li .detail .assist_price {
	height: 22px;
	font-weight: bold;
	text-align: right;
}

/*---- .date sku-form ---*/
.date .item-info .skuform {
	border: none;
}

/*---- dlseller ---*/
.item-info .frequency {
	margin-bottom: .714286em;
	text-align: right;

}

.item-info .field_frequency {
	display: inline-block;
	padding: 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #d3222a;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
}

#itempage table.dlseller {
	width: 100%;
	margin: 1.42857em 0 0;
}

#itempage table.dlseller th {
	width: 50%;
	padding: .714286em;
	border: 1px solid #ccc;
	background-color: #eee;
}

#itempage table.dlseller td {
	padding: .714286em;
	border: 1px solid #ccc;
}


/* =wc_search_page.php
-------------------------------------------------------------- */

section#usces-cart .navigation {
	clear: both;
	letter-spacing: normal;
	line-height: 300%;
}

section#usces-cart form {
	letter-spacing: normal;
}

section#usces-cart form .outlabel {
	display: block;
	padding: 1.42857em 0 .714286em;
}

#searchbox fieldset {
	margin-bottom: 1.42857em;
	padding: .7142857em 1.42857em;
	border: 1px solid #e0e0e0;
}

#searchbox legend {
	padding: 0 .7142857em;
}

#searchbox input.usces_search_button {
	display: block;
	margin: 0 auto;
	padding: 1.071428em 3em;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #eee;
}

#searchbox .searchitems p {
	letter-spacing: normal;
}

/* =Cart Page + Member Page
-------------------------------------------------------------- */

/* ---- autofill ---- */
#wc_newmemberform .customer_form input#mailaddress1:-webkit-autofill,
#wc_newmemberform .customer_form input[type="password"]:-webkit-autofill,
#wc_customer .customer_form input#mailaddress1:-webkit-autofill,
#wc_customer .customer_form input[type="password"]:-webkit-autofill,
#wc_member .customer_form input#mailaddress1:-webkit-autofill,
#wc_member .customer_form input#password1:-webkit-autofill,
#wc_editmemberform .customer_form input#mailaddress1:-webkit-autofill,
#wc_editmemberform .customer_form input#password1:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

#wc_customer .customer_form input#loginpass:-webkit-autofill {
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* =cart
-------------------------------------------------------------- */

#main #content.cart-page {
	float: none;
}

/*---- page-title ---*/
.cart_page_title {
	margin: 0 0 1.25em;
	font-size: 1.1428545em;
	line-height: 1.25em;
}

/*---- usccart_navi ---*/
div.cart_navi ul {
	overflow: hidden;
	list-style: none;
}

div.cart_navi li {
	display: block;
	padding: 0 .909095em 0 1.81818em;
	float: left;
	background: #dedede;
	color: #262626;
	font-size: 11px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}

div.cart_navi li::before {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 -20px -20px auto;
	float: right;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
	border-right: 4px solid #fff;
	background: #dedede;
}

div.cart_navi li::after {
	content: " ";
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: -20px -20px 0 auto;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	border-right: 4px solid #fff;
	background: #dedede;
}

div.cart_navi li:last-child::before,
div.cart_navi li:last-child::after {
	border: none;
}

div.cart_navi li.current,
div.cart_navi li.current::before,
div.cart_navi li.current::after {
	background-color: #161616;
	color: #fff;
}

/*---- send ---*/
.cart-page .send {
	padding-top: .714286em;
	text-align: center;
}

.cart-page .send input {
	margin-bottom: .714286em;
}

.send input.to_customerinfo_button,
.send input.to_memberlogin_button,
.send input.to_deliveryinfo_button,
.send input.to_confirm_button,
.send input#purchase_button {
	background-color: #ff8c00;
	color: #fff;
}

.send input.to_customerinfo_button:hover,
.send input.to_memberlogin_button:hover,
.send input.to_deliveryinfo_button:hover,
.send input.to_confirm_button:hover,
.send input#purchase_button:hover {
	background-color: #ffa500;
}

/*---- header_explanation ---*/
div.header_explanation {
	margin: 1.42857em 0 1.42857em;
}

/*---- footer_explanation ---*/
div.footer_explanation {
	margin-top: 1.42857em;
}


/*---- cart_table ---*/
#cart_table {
	width: 100%;
	border-collapse: collapse;
	border: 1px dotted #ccc;
}

#cart_table th {
	padding: .357143em;
	border: 1px solid #ccc;
	background-color: #efefef;
	text-align: center;
}

#cart_table td {
	padding: .357143em;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}

#cart_table .aleft {
	text-align: left;
}

#cart_table .aright {
	text-align: right;
}

#cart_table td.productname {
	text-align: left;
	word-break: break-word;
}

#cart_table .amount {
	padding: .3125em .3125em .3125em 10px;
	font-size: 16px;
	letter-spacing: 1px;
}

#cart_table .subtotal {
	white-space: nowrap;
}

#cart_table em.tax {
	font-style: normal;
}

#cart_table .num,
#cart_table .thumbnail,
#cart_table .stock {
	display: none;
}

#cart_table .thumbnail img {
	height: auto;
}

#cart_table .quantity {
	width: 50px;
	text-align: center;
}

#cart_table .quantity input {
	width: 45px;
	padding: 0 5px;
	border: 1px solid #aaa;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
}

#cart .action {
	width: 40px;
	text-align: center;
	white-space: nowrap;
}

#cart .action input.delButton {
	display: block;
	padding: .557143em .714286em;
}


/*---- customer_form ---*/
.customer_form {
	width: 100%;
}

.customer_form tr {
	display: block;
	margin-bottom: 1.071428em;
	padding: 0 .5714285em 1.071428em;
	border-bottom: 2px solid #efefef;
}

.customer_form th {
	display: block;
	width: auto;
	margin-bottom: .357143em;
	padding: 0;
	border: none;
	background: none;
}

.customer_form th em {
	color: #f36;
	font-weight: bold;
}

.customer_form td {
	display: block;
	margin-bottom: 0;
	padding: 0;
	border: none;
	color: #666;
	font-size: 1em;
}

.customer_form td label {
	color: black;
}

.customer_form tr.inp1 td {
	display: inline-block;
	width: 45%;
}

.customer_form .member_name {
	padding-left: 1em;
}

.customer_form p.password_policy {
	margin-top: .4em;
	font-size: 12px;
}

.customer_form input#loginmail,
.customer_form input#mailaddress1,
.customer_form input#mailaddress2 {
	width: 70%;
}

.customer_form input#zipcode {
	margin-right: 0;
}

.customer_form input#search_zipcode {
	margin: .5714285em;
	padding: 5px 20px;
}

.customer_form input[type="password"] {
	display: block;
	margin-right: .5em;
}

.customer_form tr.inp1 input {
	width: 70%;
	margin-right: 0;
	margin-left: .5em;
}

.customer_form input[type="text"] {
	margin-right: .5em;
}

.customer_form input[type="radio"],
.customer_form input[type="checkbox"] {
	margin: 0 .5rem 0 0;
	vertical-align: middle;
}

/* カード番号 */
.customer_form td input#cardno,
.customer_form td input.card_number,
.customer_form td input#cardname,
.customer_form td input.cc_number {
	width: calc(100% - 8rem);
	max-width: 15rem !important;
}

/* セキュリティコード */
.customer_form td input#seccd,
.customer_form td input.cvc,
.customer_form td input.cc_seccd {
	width: 6rem;
}

/* =wc_cart_page.php
-------------------------------------------------------------- */

#wc_cart #cart .upbutton {
	padding: 0 0 .714286em;
	text-align: right;
}

#wc_cart #cart .upbutton input {
	margin-left: 5px;
	padding: 3px 15px;
	border: 1px solid #ff8c00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	color: #ff8c00;
}

#wc_cart #cart .upbutton input:hover {
	background-color: #fdffd3;
	color: #e28619;
}

#wc_cart .currency_code {
	padding: .357143em 0;
}

#wc_cart .no_cart {
	padding: 3em 0;
	font-weight: bold;
	text-align: center;
}

/*--- PayPal Style ---*/

.ui-dialog {
	width: 95% !important;
	font-size: 1em;
}

.ui-dialog #paypal_dialog {
	padding: 10px;
}

#paypal_dialog #paypal_confirm td {
	text-align: right;
}

#paypal_dialog #paypal_shipping select {
	width: 100%;
}

#paypal_dialog #paypal_point table {
	border: none;
}

#paypal_dialog #paypal_point table th,
#paypal_dialog #paypal_point table td {
	border: 1px solid #e6e6e6;
}

#paypal_dialog #paypal_point tr:last-child td {
	padding: .83334em 0 0;
	border: none;
	text-align: center;
}

#paypal_dialog #paypal_use_point {
	width: auto;
	border: 1px solid #ff8c00;
	background-color: #fff;
	color: #ff8c00;
}

#paypal_dialog #paypal_use_point:hover {
	background-color: #fdffd3;
	color: #e28619;
}

/* =wc_customer_page.php
-------------------------------------------------------------- */

#customer-info h5 {
	margin: 1.42857em 0;
	padding: .357143em 0 .357143em .357143em;
	border-bottom: 1px solid #ccc;
	color: #000;
	letter-spacing: .05em;
}

#wc_customer .send input.to_reganddeliveryinfo_button {
	background-color: #ff8c00;
	color: #fff;
}

#wc_customer .send input.to_reganddeliveryinfo_button:hover {
	background-color: #ffa500;
}

#wc_customer .liwpp_area {
	padding: .714286em 0 0;
	text-align: center;
}

.customer_form .cardlast4 {
	margin-left: 1rem;
}

/*--- Paygent Style ---*/

#paygent_card_form th {
	margin-bottom: 1em;
}

.customer_form .paygent_registerd_card_area {
	margin-left: 1.5em;
}

.customer_form .paygent_new_card_area {
	margin: 1em 0;
}

#wc_delivery .customer_form .paygent_new_card_area dt,
#wc_delivery .customer_form .paygent_card_split_count_area dt {
	padding-top: 0;
}

#wc_delivery .customer_form .paygent_new_card_area dd,
#wc_delivery .customer_form .paygent_card_split_count_area dd {
	margin-left: 0;
}

#wc_delivery .customer_form .paygent_new_card_area label {
	margin: .5rem 0;
}

#wc_delivery .customer_form .paygent_new_card_area .attention {
	margin: .5rem 0 1em;
}

#wc_delivery .customer_form .paygent_new_card_area label {
	display: block;
}

#wc_delivery .customer_form .paygent_new_card_area label input[type="checkbox"] {
	margin: 0 .5rem 0 0;
	vertical-align: middle;
}

#wc_delivery .customer_form .paygent_new_card_area select {
	margin-right: .5em;
}

/* SBPS Style */

.customer_form .sbps_registerd_card_area,
.customer_form .sbps_new_card_area {
	margin-left: 1.5em;
}

#wc_delivery .customer_form .sbps_new_card_area dd {
	margin-left: 0;
}

#wc_delivery .customer_form .sbps_new_card_area select {
	margin-right: .5em;
}

/*--- SBPS ---*/

.customer_form .sbps_new_card_area dt {
	padding-bottom: 0;
}

.customer_form .sbps_new_card_area dd {
	padding-top: .357em;
}


/*--- WelcartPay ---*/

#escott-token-form input,
#escott-token-form select {
	margin-right: .5rem;
}

#escott-token-form a {
	text-decoration: underline;
}

#escott-token-form a:hover {
	text-decoration: none;
}


/* =wc_delivery_page.php
-------------------------------------------------------------- */

#wc_delivery .customer_form dt {
	padding: .714286em 0 .357em;
	font-weight: bold;
}

#wc_delivery .customer_form dd {
	margin-left: 1.5em;
	color: #262626;
	overflow-wrap: anywhere;
}

#wc_delivery .customer_form select {
	width: fit-content;
	max-width: 280px;
}

#wc_delivery .customer_form dd * {
	max-width: 100%;
}

/*---　credit style　---*/
#wc_delivery #zeus select,
#wc_delivery #remise select,
#wc_delivery #escott select,
#wc_delivery #welcart select {
	width: auto;
	margin-right: .25em;
}

/*---　DL Seller　---*/

#dlseller_terms .dlseller_terms {
	height: 200px;
	padding: .833334em;
	overflow-y: scroll;
	border: 1px solid #ccc;
	font-size: 12px;
}


/* =wc_confirm_page.php
-------------------------------------------------------------- */

#wc_confirm div.usccart_navi li.usccart_confirm {
	background: none;
	background-color: #262626;
}

/*---- info-confirm ---*/
#info-confirm .confiem_notice {
	padding-bottom: 5px;
}

/*---- cart_table ---*/
#wc_confirm #cart_table {
	margin-bottom: 1.4286em;
}

#wc_confirm #cart_table td.unitprice,
#wc_confirm #cart_table td.subtotal {
	text-align: right;
}

/*---- point_table ---*/
#cart #point_table {
	width: 100%;
	margin: 0 auto 1.42857em !important;
	float: none;
}

#point_table td {
	width: 50%;
	padding: .357143em;
	border: 1px solid #ccc;
	text-align: center;
}

#point_table td.c-point,
#point_table td.u-point {
	background-color: #efefef;
	font-weight: bold;
}

#point_table .point-btn {
	padding: .83334em 0 0;
	border: none;
	text-align: center;
}

#point_table td span.point {
	padding-right: .3125em;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

#point_table td input[type="text"] {
	width: 80px;
	margin: 0 .357143em;
	border: 1px solid #aaa;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
}

#point_table td input.use_point_button {
	border: 1px solid #ff8c00;
	background-color: #fff;
	color: #ff8c00;
}

#point_table td input.use_point_button:hover {
	background-color: #fdffd3;
	color: #e28619;
}

/*---- wcex_coupon ---*/
#cart #coupon_table {
	width: 100% !important;
	margin: 0 auto 1.42857em;
	float: none;
}

#cart #coupon_table th {
	width: 50%;
	padding: .357143em;
	border: 1px solid #ccc;
	background-color: #efefef;
	font-weight: bold;
	text-align: center;
}

#cart #coupon_table td {
	width: 50%;
	height: auto !important;
	padding: .357143em;
	border: 1px solid #ccc;
	text-align: center;
}

#cart #coupon_table tr:first-child td:first-child {
	background-color: #efefef;
	font-weight: bold;
}

#cart #coupon_table tr:last-child td {
	padding: .714286em 0 0;
	border: none;
}

#cart #coupon_table td .use_coupon_button {
	margin-right: 5px;
	border: 1px solid #ff8c00;
	background-color: #fff;
	color: #ff8c00;
}

#cart #coupon_table td .use_coupon_button:hover {
	background-color: #fdffd3;
	color: #e28619;
}

/*---- confirm_table ---*/
#confirm_table {
	width: 100%;
	border-collapse: collapse;
}

#confirm_table th {
	width: auto;
	padding: .357143em;
	border: 1px solid #ccc;
	background-color: #efefef;
	color: #262626;
	font-size: 1em;
	font-weight: bold;
}

#confirm_table td {
	padding: .357143em;
	border: 1px solid #ccc;
}

#confirm_table tr.ttl td {
	background-color: #efefef;
}

#wc_confirm table .action {
	display: none;
}

#confirm_table .ttl h3 {
	color: #000;
	letter-spacing: .05em;
}

#wc_confirm .currency_code {
	padding-bottom: .357143em;
}

/*---- send ---*/
#wc_confirm .send input#back_button {
	margin-bottom: .714286em;
}

.wc_confirm_notes_area {
	margin: 2em 0;
}

#wc_confirm #checkout_paypal_cp iframe {
	position: static;
	width: 750px;
	max-width: 100%;
	padding: 0 20px;
}


/* =wc_completion_page.php
-------------------------------------------------------------- */

#wc_ordercompletion h3 {
	margin: 1.785715em 0;
	text-align: center;
}

#wc_ordercompletion .header_explanation {
	text-align: center;
}

#wc_ordercompletion .send a {
	padding: 10px 20px;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #efefef;
}

#wc_ordercompletion .send a:hover {
	background-color: #ddd;
	text-decoration: none;
}

/*　wc_templates dlseller　*/
#wc_ordercompletion .dllist {
	text-align: center;
}

#wc_ordercompletion .dllist li {
	margin-bottom: 1.4286em;
}

#wc_ordercompletion .dllist li:last-child {
	margin-bottom: 0;
}

#wc_ordercompletion .dllist .thumb {
	margin-bottom: 1.4286em;
	padding: .714286em 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}

#wc_ordercompletion .dllist .thumb img {
	height: auto;
}

#wc_ordercompletion .dllist table {
	margin: 0 auto 1.4286em;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

#wc_ordercompletion .dllist th {
	width: 30%;
	padding: .714286em;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
}

#wc_ordercompletion .dllist td {
	padding: .714286em;
	border: 1px solid #ccc;
}

#wc_ordercompletion .item_info_list p {
	text-align: center;
}

#wc_ordercompletion a.redownload_button {
	display: inline-block;
	margin-bottom: 1em;
	padding: .714286em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff8c00;
	color: #fff;
	text-decoration: none;
}

#wc_ordercompletion a.redownload_button:hover {
	background-color: #ffa500;
}


/* =member
-------------------------------------------------------------- */

#main #content.member-page {
	width: 100%;
	float: none;
}

/*---- page-title ---*/
.member_page_title {
	margin: 0 0 1.25em;
	font-size: 1.14286em;
	line-height: 1.25em;
}

/*---- send ---*/
.member-page .send {
	padding-top: .714286em;
	text-align: center;
}

.member-page .send input {
	margin-bottom: .714286em;
	background-color: #ff8c00;
	color: #fff;
}

.member-page .send input:hover {
	background-color: #ffa500;
}


/* =wc_login_page.php
-------------------------------------------------------------- */

#wc_login .loginbox,
#wc_member .loginbox {
	padding: .714286em 2.142856em;
	text-align: left;
}

#wc_login .loginbox label,
#wc_member .loginbox label {
	line-height: 180%;
}

#wc_login .loginbox input,
#wc_memebr.login .loginbox input {
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}

#wc_login .loginbox input.loginmail,
#wc_login .loginbox input.loginpass,
#wc_member .loginbox input.loginmail,
#wc_member .loginbox input.loginpass {
	width: 100%;
	margin-bottom: .714286em;
	border: 1px solid #ccc;
}

.loginbox .submit {
	padding: .714286em 0;
}

#wc_login .loginbox #member_login,
#wc_member .loginbox #member_login {
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff8c00;
	color: #fff;
}

#wc_login .loginbox #member_login:hover,
#wc_member .loginbox #member_login:hover {
	background-color: #ffa500;
}

#wc_login .loginbox .new-entry,
#wc_member .loginbox .new-entry {
	margin: 10px 0;
	padding: 20px;
	background-color: #efefef;
}

#wc_login .loginbox .new-entry #nav,
#wc_member .loginbox .new-entry #nav {
	margin-top: .833338em;
	text-align: center;
}

#wc_login .loginbox .new-entry #nav a,
#wc_member .loginbox .new-entry #nav a {
	display: inline-block;
	padding: .714286em 1.42857em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff8c00;
	color: #fff;
}

#wc_login .loginbox .new-entry #nav a:hover,
#wc_member .loginbox .new-entry #nav a:hover {
	background-color: #ffa500;
	text-decoration: none;
}

#wc_member .loginbox a {
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: none;
}

#wc_member .loginbox a:hover {
	background: none;
	text-decoration: underline;
}

#wc_login .footer_explanation,
#wc_member .footer_explanation {
	clear: both;
}

#wc_login .liwpp_area,
#wc_member .liwpp_area {
	text-align: center;
}


/* =wc_changepassword_page.php
-------------------------------------------------------------- */

wc_changepassword .whitebox {
	text-align: center;
}

#wc_changepassword .loginbox {
	padding: .8333em 2.5em;
	font-size: .85714em;
	text-align: left;
}

#wc_changepassword .loginbox label {
	line-height: 180%;
}

#wc_changepassword .loginbox input.loginpass {
	width: 100%;
	margin-bottom: .714286em;
	padding: .35714em;
	border: 1px solid #ccc;
}

#wc_changepassword #member_login {
	width: 60%;
	padding: .714286em 0;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	background-color: #ff8c00;
	color: #fff;
}

#wc_changepassword #member_login:hover {
	background-color: #ffa500;
}

#wc_changepassword p.password_policy {
	margin: 0 0 .8em;
	font-size: 12px;
}


/* =wc_lostpassword_page.php
-------------------------------------------------------------- */

#wc_lostmemberpassword .whitebox {
	text-align: center;
}

#wc_lostmemberpassword .loginbox {
	padding: .714286em 2.142856em;
	text-align: left;
}

#wc_lostmemberpassword .loginbox label {
	line-height: 180%;
}

#wc_lostmemberpassword input,
#wc_lostmemberpassword a {
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#wc_lostmemberpassword .loginbox input.loginmail {
	width: 100%;
	margin-bottom: .714286em;
}

#wc_lostmemberpassword #member_login {
	margin-bottom: .714286em;
	padding: .714286em 1.42857em;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff8c00;
	color: #fff;
}

#wc_lostmemberpassword #member_login:hover {
	background-color: #ffa500;
}

#wc_lostmemberpassword #nav a {
	display: inline-block;
	padding: .714286em 1.42857em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #efefef;
	color: #262626;
	text-align: center;
}

#wc_lostmemberpassword #nav a:hover {
	background-color: #ddd;
	text-decoration: none;
}

#wc_lostmemberpassword .error_message {
	margin: 0 auto 10px;
	text-align: left;
}


/* =wc_member_completion_page.php
-------------------------------------------------------------- */

#wc_newcompletion #memberpages,
#wc_lostcompletion #memberpages,
#wc_changepasscompletion #memberpages {
	text-align: center;
}

#wc_newcompletion #memberpages p a,
#wc_lostcompletion #memberpages p a,
#wc_changepasscompletion #memberpages p a {
	display: inline-block;
	margin: 1.071428em 0 0;
	padding: .714286em 1.42857em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #efefef;
}

#wc_newcompletion #memberpages p a:hover,
#wc_lostcompletion #memberpages p a:hover,
#wc_changepasscompletion #memberpages p a:hover {
	background-color: #ddd;
	text-decoration: none;
}

#wc_newcompletion .send a,
#wc_lostcompletion .send input,
#wc_lostcompletion .send a,
#wc_changepasscompletion .send a {
	display: inline-block;
	padding: .714286em 1.42857em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #efefef;
}

#wc_newcompletion #memberpages a:hover,
#wc_lostcompletion #memberpages input:hover,
#wc_lostcompletion #memberpages a:hover,
#wc_changepasscompletion #memberpages a:hover {
	background-color: #ddd;
	text-decoration: none;
}


/* =wc_member_page.php
-------------------------------------------------------------- */

/*---- h3 ---*/
#wc_member h3,
#wc_editmemberform h3 {
	margin: 1.42857em 0;
	padding: .357143em;
	border-bottom: 1px solid #ccc;
	color: #000;
	letter-spacing: .05em;
}

#wc_member h3 a,
#wc_editmemberform h3 a {
	padding: 0;
	background: none;
}

/*---- table ---*/
#memberinfo table {
	display: block;
	width: 100%;
	margin-bottom: .714286em;
	border: none;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#memberinfo table tbody,
#memberinfo table tr {
	display: block;
}

#memberinfo th {
	display: block;
	width: auto;
	padding: .357143em;
	border: none;
	border-bottom: 1px solid #ccc;
	background-color: #efefef;
	font-weight: normal;
}

#memberinfo td {
	display: block;
	padding: .357143em;
	border: none;
	border-bottom: 1px solid #ccc;
}

#memberinfo .space {
	display: none;
}

#memberinfo .button {
	text-align: center;
}

#memberinfo td img {
	max-width: 100%;
	height: auto;
}

/*---- member_submenu ---*/
.member_submenu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 1.5em 0;
	text-align: center;
	gap: .714286em;
}

.member_submenu .gotoedit {
	margin: 0;
}

#memberpages .member_submenu li {
	margin-right: 0;
	list-style: none;
	text-align: center;
}

.member_submenu a {
	width: 100%;
}

#memberpages .header_explanation .gotoedit {
	text-align: center;
}

.member_submenu a,
#memberpages .header_explanation .gotoedit a {
	display: inline-block;
	padding: .714286em 1.42857em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #efefef;
	color: #262626;
}

.member_submenu a:hover,
#memberpages .header_explanation .gotoedit a:hover {
	background-color: #ddd;
	text-decoration: none;
}

/*---- history-area ---*/
#memberinfo .history-area table .aleft {
	text-align: left;
}

#memberinfo .history-area table .rightnum {
	text-align: right;
}

/*---- .retail + #history_head  ---*/
#memberinfo .retail tbody,
#memberinfo #history_head tbody {
	display: table-row-group;
}

#memberinfo .retail tr,
#memberinfo #history_head tr {
	display: table-row;
}

#memberinfo #history_head th,
#memberinfo .retail th {
	display: table-cell;
	padding: 5px 3px;
	border: 1px solid #ccc;
	background-color: #efefef;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.2em;
	text-align: center;
	vertical-align: middle;
}

#memberinfo #history_head td,
#memberinfo .retail td {
	display: table-cell;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 11px;
	line-height: 1.2em;
	vertical-align: middle;
}

/*---- history_head ---*/
#memberinfo #history_head {
	display: table;
	width: 100%;
	margin-bottom: .8333em;
	border-collapse: collapse;
}

/*---- customer_form ---*/
#memberinfo .customer_form {
	margin-bottom: 0;
	border: none;
}

#memberinfo .customer_form th {
	width: auto;
	margin-bottom: .357143em;
	padding: 0;
	border: none;
	background: none;
	font-weight: bold;
}

#memberinfo .customer_form td {
	display: block;
	padding: 0;
	border: none;
	color: #666;
	font-size: 1em;
}

#memberinfo .customer_form tr.inp1 td {
	display: inline-block;
}

/*---- send ---*/
.member-page #memberedit .send input.top,
.member-page #memberinfo .send input.top,
.member-page #memberedit .send input.deletemember,
.member-page #memberinfo .send input.deletemember {
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	background-color: #efefef;
	color: #262626;
}

.member-page #memberinfo .send input.deletemember {
	margin-top: .714286em;
}

.member-page #memberedit .send input.top:hover,
.member-page #memberinfo .send input.top:hover,
.member-page #memberedit .send input.deletemember:hover,
.member-page #memberinfo .send input.deletemember:hover {
	background-color: #ddd;
}


/*-------------------------------------------
　WCEX DL Seller　*/

#memberinfo #history_head td.retail a {
	padding: 0;
	background: none;
	color: #0f9abb;
}

#memberinfo #history_head td.retail a:hover {
	text-decoration: underline;
}

#memberinfo #history_head td.retail .continue_status {
	display: block;
	color: #008000;
	font-weight: bold;
	text-align: center;
}

/*---- retail ---*/
#memberinfo .retail {
	display: table;
	width: 100%;
	margin-bottom: 1.666666em;
	border-collapse: collapse;
}

#memberinfo .retail td.cartrownum,
#memberinfo .retail td.thumbnail {
	text-align: center;
}

#memberinfo .retail .quantity {
	white-space: nowrap;
}

#memberinfo table.retail .redownload_link {
	margin: .714286em 0;
	text-align: center;
}

#memberinfo table.retail .redownload_link a {
	padding: .714286em;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff8c00;
	color: #fff;
	text-decoration: none;
}

#memberinfo table.retail .redownload_link a:hover {
	background-color: #ffa500;
}


/* =#wc_member_update_settlement
-------------------------------------------------------------- */

#wc_member_update_settlement h3 {
	margin: 1.53846em 0;
	padding: .384615em 0 .384615em .23076em;
	border-bottom: 1px solid #ccc;
	color: #000;
	letter-spacing: .05em;
}

#wc_member_update_settlement .customer_form td input {
	margin-right: .5em;
}

#wc_member_update_settlement td select {
	width: auto;
}

#wc_member_update_settlement td select:first-child {
	margin-right: 8px;
}

#wc_member_update_settlement td select:last-child {
	margin: 0 8px;
}

#wc_member_update_settlement .send {
	text-align: center;
}

#wc_member_update_settlement .send input:last-child {
	margin-top: 10px;
}

/* #zeus */
#wc_member_update_settlement #zeus select {
	margin-right: 8px;
}

#wc_member_update_settlement #zeus_registerd_card_area,
#wc_member_update_settlement #zeus_new_card_area {
	margin-left: 0;
}

#wc_member_update_settlement #zeus_registerd_card_area label {
	margin-top: 10px;
}


/* =wc_new_member_page.php + wc_customer.php
-------------------------------------------------------------- */
.agree_member_area {
	width: 90%;
	margin: 1.42857em auto 0;
}

.agree_member_area .at_exp_text {
	margin-bottom: .714286em;
}

.agree_member_area textarea {
	width: 100%;
	height: 150px;
	margin-bottom: .41666em;
	padding: .769231em;
	border: 1px solid #ccc;
	color: #565656;
	font-size: 13px;
	line-height: 180%;
	resize: none;
}

.agree_member_area .at_check_area {
	text-align: center;
}


/*---　Delivery Address in Cart　---*/

.delivery-address-book #delivery_address_book {
	display: block;
	margin-bottom: 15px;
}

table#delivery_table tr td.delivery-address-book a.new-delivery-address-button {
	float: none;
}

/* =wc_member_mda_page.php
-------------------------------------------------------------- */

.memb-delivery-address #new_destination {
	width: 100%;
	margin: 10px 0 0;
}

.memb-delivery-address .return_navi {
	position: initial;
	width: 100%;
	margin: 10px 0 0 0;
}

.memb-delivery-address .return_navi a {
	width: 100%;
	text-align: center;
}

.memb-delivery-address .return_navi a:hover {
	color: #fff;
}

.memb-delivery-address .destination_label {
	display: block;
}

.memb-delivery-address #destination {
	width: 100%;
	margin: 0;
}

.memb-delivery-address .msa_field {
	padding: 1.071428em 0;
	border-bottom: #efefef 2px solid;
	background: none;
}

.memb-delivery-address .msa_field label {
	display: block;
	width: 100%;
	margin-bottom: 4px;
	padding: 0;
}

.memb-delivery-address .msa_field textarea,
.memb-delivery-address .msa_field input[type="text"] {
	width: 100%;
	margin: 0;
}

.memb-delivery-address .msa_field .member_name {
	padding-left: 1em;
}

.memb-delivery-address .msa_field #msa_name,
.memb-delivery-address .msa_field #msa_name2,
.memb-delivery-address .msa_field #msa_furigana,
.memb-delivery-address .msa_field #msa_furigana2 {
	width: calc((100% / 2) - 3.5em);
	margin: 0 .5em;
	vertical-align: middle;
}

.memb-delivery-address .msa_field #msa_name2,
.memb-delivery-address .msa_field #msa_furigana2 {
	margin-right: 0;
}

.memb-delivery-address #zipcode {
	width: 8em;
	margin-right: 1em;
}

.memb-delivery-address .msa_field .search-zipcode {
	margin: 0;
}

.memb-delivery-address #msa_address1,
.memb-delivery-address #msa_address2,
.memb-delivery-address #msa_note {
	width: 100%;
}

.memb-delivery-address #msa_tel,
.memb-delivery-address #msa_fax {
	width: 43%;
}

.memb-delivery-address .msa_field select {
	margin: 0;
}

.memb-delivery-address .msa_message {
	margin-left: 1em;
}

.memb-delivery-address #name_message,
.memb-delivery-address #zip_message,
.memb-delivery-address #tel_message {
	display: block;
	margin-left: 0;
}

.memb-delivery-address #address1_message,
.memb-delivery-address #address2_message {
	margin-left: 0;
}


/* =wc_dlseller_auto_billing_page.php
-------------------------------------------------------------- */

#wc_member_auto_billing_info .auto_billing_contents .subscription_block,
#wc_member_auto_billing_info .auto_billing_contents dt,
#wc_member_auto_billing_info .auto_billing_contents dd,
#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody {
	border-color: #ccc;
}

#wc_member_auto_billing_info .auto_billing_contents .subscription_block {
	border-radius: 0;
	color: initial;
}

/* dl */
#wc_member_auto_billing_info .auto_billing_contents dl {
	font-size: inherit;
}

#wc_member_auto_billing_info .auto_billing_contents dt {
	padding: .357em 2em .357em .714em;
	border-right: 1px solid #ccc;
	background-color: #efefef;
}

#wc_member_auto_billing_info .auto_billing_contents dd {
	padding: .357em .714em;
}

/* h2 */
#wc_member_auto_billing_info #memberinfo .data-table-wrap h2 {
	padding: .571em .714em;
	background-color: #efefef;
	color: inherit;
	font-size: inherit;
}

/* select */
#wc_member_auto_billing_info .auto_billing_contents .billing-year-select {
	top: .357em;
	right: .714em;
	font-size: inherit;
}

#wc_member_auto_billing_info .auto_billing_contents .billing-year-select select {
	padding: .357em 2.143em .357em .357em;
	border-radius: 0;
}

/* table */
#wc_member_auto_billing_info #memberinfo .auto_billing_contents table {
	font-size: inherit;
}

#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td {
	padding: .357em .714em;
	line-height: 1.4;
}

#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td::before {
	margin-bottom: 0;
	font-size: .857em;
}

#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td a {
	margin: 0 .357em 0 0;
	padding: 0;
	border-radius: 0;
	background: none;
	color: #0f9abb;
}

#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td a:hover {
	background: none;
	color: #0f9abb;
	text-decoration: underline;
}


/**
 * 16.1 Mobile Large 620px
 */
@media screen and (min-width: 38.75em) {
	/* =item-single.php
	-------------------------------------------------------------- */
	.item_page_title {
		margin: 0 0 2.22222em;
		font-size: 1.285714em;
		line-height: 1.285714em;
	}

	#itempage #img-box {
		width: 40%;
		margin-bottom: 0;
		float: left;
	}

	#img-box .itemsubimg a {
		width: 30.333%;
	}

	.detail-box {
		width: 55%;
		float: right;
	}

	#itempage .item-info {
		clear: both;
	}

	.item-info .skuform {
		margin: 0 0 2.85714em;
	}

	.item-info .skubutton {
		padding: 1.071428em 2.142856em;
	}

	.item-info .field {
		text-align: right;
	}

	.item-info .zaikostatus,
	.item-info .field_price {
		margin-bottom: .357143em;
		float: none;
	}

	/* ---- .tax_inc_block ---- */

	.item-info .tax_inc_block {
		margin: -8px 0 10px;
		clear: both;
		text-align: right;
	}

	.assistance_item li {
		width: 22%;
		margin-right: 4%;
		padding: 1.42857em 0 0;
	}

	.assistance_item li:nth-child(even) {
		margin-right: 4%;
	}

	.assistance_item li:nth-child(4n) {
		margin-right: 0;
	}

	/* =cart
	-------------------------------------------------------------- */
	.cart_page_title {
		margin: 0 0 2.22222em;
		font-size: 1.285714em;
		line-height: 1.285714em;
	}

	div.cart_navi li {
		width: 24.5%;
		font-size: 1em;
	}

	#cart_table .thumbnail {
		display: table-cell;
	}

	/* =wc_cart_page.php
	-------------------------------------------------------------- */
	.ui-dialog {
		width: 400px !important;
	}

	/* =wc_confirm_page.php
	-------------------------------------------------------------- */
	#wc_confirm .send input#back_button {
		margin-bottom: 0;
	}

	/* =member
	-------------------------------------------------------------- */
	.member_page_title {
		margin: 0 0 2.22222em;
		font-size: 1.285714em;
		line-height: 1.285714em;
	}

	#wc_changepassword .loginbox,
	#wc_lostmemberpassword .loginbox,
	#wc_lostmemberpassword .error_message {
		width: 50%;
	}

	#wc_login .loginbox,
	#wc_changepassword .loginbox,
	#wc_lostmemberpassword .loginbox {
		margin: 0 auto;
		padding: .714286em 2.14285em;
		font-size: 1em;
	}

	.loginbox .submit,
	#wc_lostmemberpassword #nav a {
		font-size: 1em;
	}

	#wc_newcompletion #memberpages p a,
	#wc_lostcompletion #memberpages p a,
	#wc_changepasscompletion #memberpages p a {
		margin: 1.0714em 0 0;
		padding: .714286em 1.42857em;
		font-size: 1em;
	}

	/* =wc_member_page.php
	-------------------------------------------------------------- */
	.member_submenu a {
		width: auto;
	}

	.member-page .send {
		padding-top: 1.42857em;
	}

	#memberinfo table {
		display: table;
		font-size: 1em;
		font-weight: normal;
	}

	#memberinfo table tbody {
		display: table-row-group;
	}

	#memberinfo table tr {
		display: table-row;
	}

	#memberinfo th {
		display: table-cell;
		border: 1px solid #ccc;
		font-weight: bold;
	}

	#memberinfo td {
		display: table-cell;
		border: 1px solid #ccc;
	}

	#memberinfo .space {
		display: table-cell;
	}

	#memberinfo #history_head {
		font-size: 1em;
	}

	#memberinfo #history_head th {
		font-size: 1em;
		white-space: nowrap;
	}

	#memberinfo #history_head td,
	#memberinfo .retail th,
	#memberinfo .retail td {
		padding: .35715em;
		font-size: 1em;
	}

	.member-page #memberinfo .send input.editmember {
		margin: 0;
	}

	.member-page #memberinfo .send input.deletemember {
		margin-top: 0;
	}

	#memberinfo .customer_form th {
		display: table-cell;
		width: 30%;
		padding: .35715em 1.0714em;
		border: 1px solid #ccc;
		background-color: #efefef;
		vertical-align: middle;
	}

	#memberinfo .customer_form td {
		display: table-cell;
		padding: .35715em 1.0714em;
		border: 1px solid #e0e0e0;
	}

	#memberinfo .customer_form tr.inp1 td {
		display: table-cell;
	}


	/*---　Delivery Address in Cart　---*/

	.delivery-address-book #delivery_address_book {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	table#delivery_table tr td.delivery-address-book a.new-delivery-address-button {
		float: right;
	}

	/* =wc_dlseller_auto_billing_page.php
	-------------------------------------------------------------- */

	#wc_member_auto_billing_info .auto_billing_contents .subscription_block {
		margin-bottom: 1.6em;
	}

	#wc_member_auto_billing_info .auto_billing_contents .subscription_block:last-child {
		margin-bottom: 0;
	}

	/* dl */
	#wc_member_auto_billing_info .auto_billing_contents dl {
		grid-template-columns: repeat(4, 1fr);
	}

	#wc_member_auto_billing_info .auto_billing_contents dl::after {
		background-color: #ccc;
	}

	#wc_member_auto_billing_info .auto_billing_contents dt {
		padding: .714em 2em .714em .714em;
		font-weight: bold;
	}

	#wc_member_auto_billing_info .auto_billing_contents dd {
		padding: .714em;
	}

	#wc_member_auto_billing_info .auto_billing_contents dd:nth-of-type(odd) {
		border-color: #ccc;
	}

	/* h2 */
	#wc_member_auto_billing_info #memberinfo .data-table-wrap h2 {
		padding: 1.428em .714em .714em;
		background: none;
		color: inherit;
	}

	/* select */
	#wc_member_auto_billing_info .auto_billing_contents .billing-year-select {
		top: .714em;
	}

	#wc_member_auto_billing_info .auto_billing_contents .billing-year-select select {
		padding: .571em 2.143em .571em .571em;
	}

	/* table */
	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table {
		width: calc(100% - 1.428em);
		margin: 0 auto 1em;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table thead {
		display: table-header-group;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody tr {
		display: table-row;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table thead th,
	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td,
	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td:last-child {
		border: 1px solid #ccc;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table thead th,
	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td {
		padding: .357em .714em;
		text-align: center;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td {
		display: table-cell;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents table tbody td::before {
		display: none;
	}

	#wc_member_auto_billing_info #memberinfo .auto_billing_contents p.nodata {
		padding: .5em 1em 1.5em;
	}

	/*---　#wc_member_update_settlement　---*/

	#wc_member_update_settlement .send {
		margin-top: 1.5em;
	}

	#wc_member_update_settlement .send input:last-child {
		margin-top: 0;
	}

	/* #zeus */
	#wc_member_update_settlement #zeus th {
		vertical-align: text-top;
	}
}


/**
 * 16.2 Tablet Small 740px
 */
@media screen and (min-width: 46.25em) {
	/* =item-single.php
	-------------------------------------------------------------- */

	.item-info .item-option dt,
	.item-info .itemGpExp dt {
		display: inline-block;
		width: 25%;
		margin-bottom: .714286em;
		vertical-align: top;
	}

	.item-info .item-option dd,
	.item-info .itemGpExp dd {
		display: inline-block;
		width: 65%;
		margin-bottom: .714286em;
		padding-left: 3%;
		border-left: 1px solid #ccc;
	}

	.item-info .field {
		padding-bottom: 0;
	}


	/* =cart
	-------------------------------------------------------------- */

	/*--- cart_table ---*/
	.cart-page .send {
		padding-top: 1.42857em;
	}

	#cart_table .stock {
		display: table-cell;
		white-space: nowrap;
	}

	/*---- customer_form ---*/
	.customer_form {
		margin-bottom: 1.071428em;
	}

	.customer_form tr {
		display: table-row;
		margin-bottom: 0;
		padding: 0;
		border: none;
	}

	.customer_form th {
		display: table-cell;
		width: 25%;
		padding: .357143em 1.071428em;
		border: 1px solid #ccc;
		background-color: #f6f6f6;
		vertical-align: middle;
	}

	.customer_form.settlement_form {
		margin-bottom: 1.071428em;
	}

	.customer_form.settlement_form th {
		width: 30%;
	}


	.customer_form td {
		display: table-cell;
		padding: .357143em 1.071428em;
		border: 1px solid #ccc;
		color: #6e6e6e;
	}

	.customer_form tr.inp1 td {
		display: table-cell;
		width: auto;
		margin-bottom: 0;
	}

	.customer_form input[type="password"] {
		display: inline-block;
	}

	/* =wc_customer_page.php
	-------------------------------------------------------------- */

	/*--- Paygent Style ---*/

	#paygent_card_form td {
		padding: 1em;
	}

	.customer_form .paygent_card_split_count_area {
		margin-bottom: 0;
	}

	.customer_form td .paygent_card_split_count_area:last-child {
		margin-top: 2em;
	}

	/*--- SBPS Style ---*/
	#sbps_form td {
		padding: 1em;
	}


	/* =wc_confirm_page.php
	-------------------------------------------------------------- */

	/*---- confirm_table ---*/
	#confirm_table th {
		display: table-cell;
		width: 30%;
		padding: .357143em 1.071428em;
		border: 1px solid #ccc;
		background-color: #efefef;
		vertical-align: middle;
	}

	#confirm_table td {
		display: table-cell;
		padding: .357143em 1.071428em;
		border: 1px solid #ccc;
	}

	#confirm_table .ttl h3 {
		margin: 0;
		padding: 0;
		background: none;
	}


	/* =wc_new_member_page.php + wc_customer.php
	-------------------------------------------------------------- */

	.agree_member_area {
		width: 70%;
		margin: 1.42857em auto 0;
	}


	/* =wc_member_mda_page.php
	-------------------------------------------------------------- */

	.memb-delivery-address .msa_total {
		display: flex;
		align-items: center;
	}

	.memb-delivery-address #new_destination {
		width: auto;
		margin: 0 0 0 1em;
	}

	.memb-delivery-address .return_navi {
		position: absolute;
		width: auto;
		margin: 0;
	}

	.memb-delivery-address #destination {
		width: auto;
		margin: 0 0 0 1em;
	}

	.memb-delivery-address .msa_operation {
		display: flex;
		align-items: center;
	}

	.memb-delivery-address .msa_field {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-bottom: none;
	}

	.memb-delivery-address .msa_field label {
		width: 25%;
		margin: 0;
	}

	.memb-delivery-address .msa_field textarea,
	.memb-delivery-address .msa_field input[type="text"],
	.memb-delivery-address #msa_address1,
	.memb-delivery-address #msa_address2,
	.memb-delivery-address #msa_note {
		width: 75%;
	}

	.memb-delivery-address .msa_field #msa_name,
	.memb-delivery-address .msa_field #msa_name2,
	.memb-delivery-address .msa_field #msa_furigana,
	.memb-delivery-address .msa_field #msa_furigana2 {
		width: calc((75% / 2) - 5em);
	}

	.memb-delivery-address #msa_tel,
	.memb-delivery-address #msa_fax {
		width: 30%;
	}

	.memb-delivery-address #name_message,
	.memb-delivery-address #address1_message,
	.memb-delivery-address #address2_message {
		display: block;
		margin-left: 25%;
	}

	.memb-delivery-address #zip_message,
	.memb-delivery-address #tel_message {
		display: inline;
		margin-left: 1em;
	}


}


/**
 * 16.3 Tablet Large 880px
 */
@media screen and (min-width: 55em) {
	/* =cart
	-------------------------------------------------------------- */
	#cart_table .num {
		display: table-cell;
	}

	/* =wc_login_page.php
	-------------------------------------------------------------- */
	#wc_login .loginbox {
		width: 50%;
	}

	/* =wc_delivery_page.php
	-------------------------------------------------------------- */
	#wc_delivery .customer_form select {
		max-width: 500px;
	}
}


/**
 * 16.4 Desktop Small 1000px
 */
@media screen and (min-width: 62.5em) {
	/* =item-single.php
	-------------------------------------------------------------- */

	/*---- imgblock ---*/
	#itempage #img-box {
		width: 300px;
		margin-bottom: 2.142856em;
	}

	#itempage .item-description {
		margin-bottom: 2.142856em;
	}

	/*---- item-option ---*/
	.item-info .item-option select[multiple] {
		width: 100%;
	}

	/*---- assistance_item ---*/
	.assistance_item h3 {
		margin: 2.142856em 0 0;
	}

	/* =member
	-------------------------------------------------------------- */
	#memberinfo h3 {
		margin: 2.142856em 0 1.42857em;
		padding: 0;
		background: none;
		font-size: 1em;
	}

	#memberinfo th {
		padding: .714286em;
	}

	#memberinfo td {
		padding: .357143em 1.071428em;
	}

	/*---- history-area ---*/
	#memberinfo .history-area {
		max-height: 500px;
		margin-bottom: 2.85714em;
		padding: 1.42857em 1.42857em 0 0;
		overflow-y: scroll;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}

	/*--- wc_login  ---*/
	#wc_login .loginbox .new-entry #nav a,
	#wc_member .loginbox .new-entry #nav a,
	#wc_lostmemberpassword #member_login,
	#wc_lostmemberpassword #nav a,
	#wc_newcompletion #memberpages p a,
	#wc_lostcompletion #memberpages p a,
	#wc_changepasscompletion #memberpages p a,
	#wc_newcompletion .send a,
	#wc_lostcompletion .send input,
	#wc_lostcompletion .send a,
	#wc_changepasscompletion .send a {
		padding: 1.071428em 2.14286em;
	}
}
